doctype
html
  head(lang="en")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/assets/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")    
  body
    .header-bg
    .container
      != yield
    script(src="/assets/js/knockout.js")
    script(src="/assets/js/jquery.js")
    script(src="/assets/js/app.js")
